* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background: #fff;
  margin: 0 10px;
}

.payment {
  background-image: linear-gradient(to bottom right, #bbdbf7, #fff);
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 50px;
  position: relative;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05), 0px 0px 50px rgba(0, 0, 0, 0.05);
}

.payment h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #fff;
}

.form .label {
  display: block;
  color: #fff;
  margin-bottom: 6px;
}

.input {
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #585858;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #bbdbf7;
}

.btn {
  margin-top: 40px;
  background: #bbdbf7;
  padding: 12px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05), 0px 0px 50px rgba(0, 0, 0, 0.05);
  transition: all 0.75s ease-in;
}

.btn:hover {
  margin-top: 40px;
  background: #fff;
  padding: 12px;
  text-align: center;
  color: #bbdbf7;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05), 0px 0px 50px rgba(0, 0, 0, 0.05);
  transition: all 0.75s ease-in;
}

@media screen and (max-width: 420px) {
  .card-grp {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}

.back button {
  margin-top: 1rem;
  margin-left: 3rem;
  width: 10%;
  padding: 1rem 0rem;
  background: #bbdbf7;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  font-size: medium;
  font-weight: bold;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.03), 0px 0px 50px rgba(0, 0, 0, 0.03);
  transition: all 0.75s ease-in;
}

.back button:hover {
  width: 12%;
  padding: 1rem 0rem;
  background: #fff;
  border: none;
  color: #bbdbf7;
  font-size: medium;
  font-weight: bold;
  transition: all 0.75s ease-in;
}

.home button {
  margin-top: 1rem;
  margin-left: 3rem;
  width: 10%;
  padding: 1rem 0rem;
  background: #bbdbf7;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  font-size: medium;
  font-weight: bold;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.03), 0px 0px 50px rgba(0, 0, 0, 0.03);
  transition: all 0.75s ease-in;
}

.home button:hover {
  width: 12%;
  padding: 1rem 0rem;
  background: #fff;
  border: none;
  color: #bbdbf7;
  font-size: medium;
  font-weight: bold;
  transition: all 0.75s ease-in;
}
