/* body {
  margin: 0;
  overflow: hidden;
} */

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  perspective: 1000px;
  overflow: hidden;
  margin: 0;
}

.info h1 {
  font-size: 3rem;
  color: #fff;
}
