* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  perspective: 1000px;
  background-color: #1da1f2;
}
.container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: 0.5s;
  padding: 20px;
}
.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 7.5rem;
  margin: 5rem;
  /* border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #1da1f2; */
}

.info h1 {
  font-size: 3rem;
  margin: 5rem;
  color: #fff;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 32.5px;
  margin-top: 1.8rem;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(5):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(6):hover .icon {
  background: #1da1f2;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(3) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(4) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(5) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(6) span {
  color: #1da1f2;
}

/* popups */
.package {
  min-height: 100vh;
  transition: 0.5s;
  padding: 20px;
}

.container#blur.active {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.container .content {
  position: relative;
  max-width: 800px;
}

/* a {
  position: relative;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background: #111;
  border-radius: 50px;
} */

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border-radius: 50px;
}
.popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
